@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

html {
    font-family: Nunito, sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

h2 {
    color: rgba(117, 104, 246, 1);
    position: relative;
    top: 0;
    left: 0;
    font-family: Nunito, sans-serif;
    font-size: 42px;
    opacity: 1;
    text-align: left;
    margin-bottom: 3.5rem;
    font-weight: 500;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 38px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #212121;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 14px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 1px;
    margin-right: auto;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #767583;
}

p {
    font-size: 18px;
    font-family: Inter, sans-serif;
    text-align: justify;
    font-weight: 500;
}

.scroll-y {
    overflow-y: scroll;
}

.page-image {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    image-rendering: high-quality;
    object-fit: cover;
}

.padded-container {
    padding: 5.75rem 4.313rem 5.75rem 4.313rem;
}

.purple {
    color: #7568f6;
}

.darker-purple {
    color: #7158E2;
}

.btn-purple {
    width: 100%;
    color: #fff;
    border-color: #7158E2;
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 1rem;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 0 8px 0;
}

.btn-purple:hover {
    color: #fff;
    background-color: rgba(113, 88, 226, 0.08);
    border-color: #8c68f6;
}

.btn-purple:focus, .btn-purple.focus {
    box-shadow: 0 0 0 0.1rem rgba(117, 104, 246, 0.62);
}

.btn-purple.disabled, .btn-purple:disabled {
    color: #fff;
    background-color: #7568f6;
    border-color: #8c68f6;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: rgba(128, 103, 238, 0.3);
    border-color: #8c68f6;
}

.btn-purple-text {
    color: #7158E2;
    font-weight: 400;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 126px;
    border-right: 1px solid rgba(118, 117, 131, 0.58);
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
}

.sidebar-entry {
    width: 126px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #767583;
    cursor: pointer;
}

.sidebar-active {
    width: 126px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #7568F6;
}

.text-roboto {
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

.embed-responsive {
    margin-bottom: 15px;
}

.sidebar-icon {
    font-size: 24px;
}

.content-link {
    text-decoration: underline;
    cursor: pointer
}

.course-content-container {
    padding-top: 85px;
    margin: auto;
    width: 50%;
}

.course-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 33px;
}

.course-entry {
    margin-right: 8px;
    position: relative;
    text-align: center;
    color: white;
    border: 1px solid transparent;
}

.course-entry:hover {
    border-color: #8c68f6;
    border-radius: 10px;
}

.course-cover {
    position: absolute;
    width: 271px;
    height: 71px;
    left: 0;
    top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.course-image {
    width: 271px;
    height: 172px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.course-title {
    color: #ffffff;
    font-family: Nunito, sans-serif;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
    position: absolute;
    top: 11px;
    left: 16px;
    white-space: nowrap;
}

.course-subtitle {
    color: #ffffff;
    position: absolute;
    top: 39px;
    left: 16px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    white-space: nowrap;
}


.journal-content-container {
    padding-top: 85px;
    margin: auto;
    width: 40%;
}

.journal-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
}

.journal-entry {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.journal-picture {
    margin-left: auto;
    width: 70px;
    height: 70px;
    right: 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.journal-text {
    flex-direction: column;
    display: flex;
}

.journal-title {
    color: #212121;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    top: 11px;
    left: 16px;
}

.journal-subtitle {
    color: #767583;
    top: 39px;
    left: 16px;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    white-space: nowrap;
}

.journal-light {
    margin-top: 5px;
    margin-right: 5px;
}

.journal-date {
    color: #767583;
    top: 39px;
    left: 16px;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-size: 12px;
    opacity: 1;
    text-align: left;
    white-space: nowrap;
    padding-top: 5px;
}

.journal-content {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.btn-bottom-align {
    margin-top: 3rem;
    height: 5rem;
    margin-bottom: auto;
    font-size: 20px;
}



.light-purple-opaque {
    background: rgba(146, 135, 255, 0.5);
}

.light-turquoise-opaque {
    background: rgba(144, 181, 187, 0.5)
}

.blue-opaque {
    background: rgba(57, 156, 205, 0.5);
}

.light-lime-opaque {
    background: rgba(185, 255, 115, 0.5);
}

.light-blue-opaque-05 {
    background: rgba(111, 158, 216, 0.5);
}

.light-blue-opaque-06 {
    background: rgba(111, 158, 216, 0.6);
}

.lighter-blue-opaque {
    background: rgba(141, 160, 232, 0.5);
}

.grey-opaque {
    background: rgba(50, 58, 62, 0.5);
}

.dark-grey-opaque {
    background: rgba(48, 48, 48, 0.5);
}

.light-yellow-opaque {
    background: rgba(188, 181, 144, 0.5);
}

.cursor-pointer {
    cursor: pointer;
}

.vector-top {
    position: absolute;
    left: 69.6%;
    right: 0;
    top: 5%;
    bottom: 52.15%;
    z-index: -1;
}

.vector-bottom {
    z-index: -1;
    position: absolute;
    left: 18%;
    right: 73.65%;
    top: 45%;
    bottom: 12.46%;
}
